.question_tub {
  position: relative;
  min-height: 100vh;
  --radius: var(--big-gap);
}

.back_icon {
  font-size: var(--big-gap);
  cursor: pointer;
  transition: scale 200ms linear;

  &:hover {
    scale: 1.1;
  }
}

.options > * {
  border-radius: var(--radius);
  transition: opacity 500ms;
  opacity: 0;
  animation: fadeIn linear forwards 500ms;
  font-size: 1rem;

  &:nth-child(1) {
    animation-delay: 0.2s;
  }
  &:nth-child(2) {
    animation-delay: 0.4s;
  }
  &:nth-child(3) {
    animation-delay: 0.6s;
  }
  &:nth-child(4) {
    animation-delay: 0.8s;
  }
}

.cheat_tab {
  display: flex;
  padding: var(--gap);
  gap: 3rem;
  justify-content: center;

  > * {
    border-radius: var(--radius);
    position: relative;
  }

  & button:first-child {
    font-size: 0.9rem;
  }

  & button:disabled {
    background-color: hsla(from var(--alt-light-clr) h s l / 0.5);
    cursor: default;
  }

  .remainder {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 1rem;
    background-color: red;
    width: 30px;
    border-radius: 50%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    font-family: var(--text-font);
  }
}

.timer {
  border-radius: var(--radius);
  background-color: hsla(from var(--alt-light-clr) h s l / 0.5);
  width: 100px;
  outline: 1px solid var(--light-clr);
  display: grid;
  grid-template-columns: 20px 1fr;
  justify-items: center;
  margin-top: var(--gap);
}

.game_over_modal_wrapper {
  position: fixed;
  z-index: 1000;
  backdrop-filter: blur(5px);
  inset: 0;
  display: grid;
  translate: 0 -100%;
  transition: 500ms translate;

  &.active {
    translate: 0 0;
  }
}

.game_over_modal {
  width: 60%;
  background-color: hsla(from var(--primary-clr) h s l / 0.92);
  height: 50vh;
  margin: auto;
  text-align: center;
  padding: var(--padding);
  display: grid;
  place-items: center;
  border-radius: var(--radius);
}

/* for mobile devices */
@media (width < 992px) {
  .question_tub {
    padding: var(--padding);
  }

  .large_screen_points {
    display: none;
  }

  .question_deck {
    display: grid;
    margin-bottom: var(--big-gap);
    padding: var(--padding);
  }

  figure {
    height: 20vh;
    margin-bottom: var(--big-gap);
    width: max(300px, 40%);
    margin-inline: auto;

    & img {
      object-fit: cover;
      height: inherit;
      width: 100%;
    }
  }
  .options {
    --btn-bg: transparent;
    display: grid;
    margin-top: var(--gap);
    gap: var(--big-gap);
  }
}

/* for larger screens */
@media (width > 992px) {
  .cheat_tab {
    position: absolute;
    top: 50%;
    right: 4rem;
  }

  .small_screen_points {
    display: none;
  }

  .question_deck {
    width: 90%;
    position: relative;
    --btn-font: var(--text-font);
    margin-inline: auto;
    padding: 1rem;
    display: grid;
    gap: var(--big-gap);

    figure {
      height: 35vh;
      width: 20rem;
      margin-inline: auto;

      & img {
        object-fit: cover;
        height: inherit;
        width: 100%;
      }
    }

    & p {
      font-size: var(--step-1);
      font-weight: 300;
      outline: 1px solid var(--light-clr);
      width: max-content;
      text-align: center;
      margin-inline: auto;
      padding: 1rem var(--big-gap);
      border-radius: var(--big-gap);
      position: relative;
    }

    .options {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--big-gap);
      --btn-bg: transparent;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.opaque {
  transition: 500ms;
  translate: -300% 0;
  opacity: 0;
}
