.starting_page {
  height: 100vh;
  background-image: url("/tom-barrett-hgGplX3PFBg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  isolation: isolate;
  font-family: var(--font-1);

  .text_content {
    anchor-name: --text-content;
    background: #020024;
    background: linear-gradient(
      90deg,
      rgb(0, 0, 0) 0%,
      rgb(1, 1, 14) 35%,
      transparent 100%
    );
    height: 100vh;
    display: grid;
    gap: var(--gap);
    align-content: center;
    justify-items: start;
    font-size: 3rem;
    padding-inline-start: var(--padding);
  }

  & h2 {
    font-weight: lighter;
    font-size: clamp(2rem, 5vw, 4rem);
  }
}

.difficulty_selection_modal {
  padding-top: var(--gap);
  height: 80%;
  color: var(--light-clr);
  /* backdrop-filter: blur(10px); */
  display: grid;
  justify-content: center;
  align-items: start;

  h2 {
    text-align: center;
  }
}
.play__btn {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
}

.nickname_modal {
  display: grid;
  gap: 3rem;
  color: var(--light-clr);
}

.error {
  font-family: var(--font-1);
  color: var(--alt-light-clr);
}

.split-text-container {
  display: flex;
  overflow: hidden;
}

.text-part {
  display: inline-block;
  position: relative;
  transform: translateX(0);
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.text-part.left {
  transform: translateX(-200%);
  animation-name: slide-in-left;
}

.text-part.right {
  transform: translateX(200%);
  animation-name: slide-in-right;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

.custom_back_icon {
  position: absolute;
}

.high_scores_wrapper {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  display: grid;
  translate: 0 -100%;
  z-index: 1000;
  transition: 500ms translate;

  &.active {
    translate: 0 0;
  }
}

.high_scores_board {
  background-image: linear-gradient(var(--primary-clr), black);
  height: 80vh;
  width: max(300px, 50%);
  margin: auto;
  border-radius: 1rem 1rem 5rem 5rem;
  position: relative;

  & ::before {
    --size: 5rem;
    content: "";
    top: -3rem;
    left: 8rem;
    background-image: url("/Crown_PNG_Template_Transparent_Background_V1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: var(--size);
    height: var(--size);
    position: absolute;
    scale: 1.2;

    @media (width > 992px) {
      left: 45%;
    }
  }
}
